.container {
    width: 80vw;
    margin: 0 auto;
}

header {
    box-shadow: 0px 10px 20px rgb(78, 76, 76);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.coluna1 h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #4C6EF5;
    margin: 25px auto;
}

.coluna2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between
}

ul li a{
    text-decoration: none;
    color: #343A40;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

ul li a:hover{
    color: #4C6EF5;
    border-bottom: solid #4C6EF5 3px;
}
